$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

@mixin media-for-xs {
  @media (max-width: 480px) { @content; }
}

@mixin media-for-xs-min {
  @media (max-width: 360px) and (max-height: 570px) { @content; }
}

@mixin media-for-xs-min-v {
  @media (max-width: 459px) { @content; }
}

@mixin media-for-xs-h {
  @media (max-height: 459px) { @content; }
}

@mixin media-for-xs-max {
  @media (max-width: 767px) { @content; }
}

@mixin media-for-sm {
  @media (min-width: 768px) { @content; }
}

@mixin media-for-sm-max {
  @media (max-width: 991px) { @content; }
}

@mixin media-for-md {
  @media (min-width: 992px) { @content; }
}

@mixin media-for-lg {
  @media (min-width: 1200px) { @content; }
}

.visible-xs-h {
  display: none !important;
}

.visible-xs-h {
  @include media-for-xs-h {
    display: block !important;
  }
}

.hidden-xs-h {
  @include media-for-xs-h{
    display: none !important;
  }
}

.hidden-xs-v {
  @include media-for-xs-min-v {
    display: none !important;
  }
}

.hidden-xs-sm {
  @include media-for-sm {
    display: none !important;
  }
}